.lowmenu {
    display: flex;
    margin-right: auto;
}

.rm {
    display: flex;
    width: 200px;
}

.NavDrop {
    background-color: #0071E3;
    color: white;
    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}

.nav-item.dropdown {
    background-image: url(images/dropdown.png);
    height: 28px;
    width: 32px;
    background-repeat: no-repeat;
}

.dropdown-toggle::after {
    visibility: hidden;
}

.bg-body {
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px gray;
    position: relative;
    display: inline-block;
    width: 100%;
}

input.me-2.form-control {
    width: 543px;
    height: 40px;
    flex-shrink: 0;
}

button.btn.btn-outline-success {

    background-color: #0071E3;
    width: 56px;
    height: 40px;
    flex-shrink: 0;
    background-image: url(images/lupa.png);
}

input.me-2.form-control {
    border-radius: 5px 0px 0px 5px;
    background: #EEE;
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.12) inset;
}

.orders {
    background-image: url(images/order.png);
    height: 18px;
    background-repeat: no-repeat;
    width: 16px;
    background-size: 100%;
   
}

.favorits {
    background-image: url(images/favorite.png);
    height: 18px;
    background-repeat: no-repeat;
    width: 16px;
    background-size: 100%;

}

.basket {
    background-image: url(images/basket.png);
    height: 18px;
    background-repeat: no-repeat;
    width: 16px;
    background-size: 100%;

}

.profile {
    background-image: url(https://sopranoclub.ru/images/memy-na-avu-275-memnyh-avatarok/file56870.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 43.643px;
    height: 43.643px;
    flex-shrink: 0;
    border-radius: 20px;
    border:3px solid #0071E3;
}

.notifications {
    width: 20px;
    height: 20px;
    background-color: #FC3F1D;
    border-radius: 10px;
    font-size: small;
    color:white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}

.notifications1 {
    position: absolute;   
    width: 18px;
    height: 18px;
    background-color: #FC3F1D;
    border-radius: 10px;
    font-size: small;
    color:white;
    text-align: center;
    vertical-align: middle;
}

.rm {
    font-size: small;
}

